/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lilita+One&family=Luckiest+Guy&display=swap');


body {
    margin: 0;
    padding: 0;
    margin-top: 74px;
    font-family: "Belanosima", sans-serif;
    box-sizing: border-box;
}


/*Navigation*/
nav {
    box-shadow: inset 0px -1px 0px #C5C6C7;
}
.navbar-brand span {
    font-family: "Luckiest Guy", cursive;
    font-size: 25px;
}
.navbar-brand img {
    height: 50px;
    width: auto;
}
.navbar-nav a {
    font-family: "Lilita One", cursive;
    color: #D8B78B;
    font-size: 17px;
    margin: 0 10px;
}
.navbar-nav a:hover {
    color:#7F512E;
}