/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lilita+One&family=Luckiest+Guy&display=swap');


body {
    margin: 0;
    padding: 0;
    margin-top: 74px;
    font-family: "Belanosima", sans-serif;
    box-sizing: border-box;
}


/*Section padding*/
.section-padding {
    padding: 100px 0;
}

/*Titre et paragraphe de section*/
h2 {
    color: #7F512E;
    padding-bottom: 10px;
    font-size: 27px;
    text-align: center;
}
.paragraphe {
    font-size: 20px;
    text-align: center;
    color:#D8B78B;
}

/*Liens*/
a {
    font-family: "Lilita One", cursive;
    color: #D8B78B;
    font-size: 17px;
    text-decoration: none;
}
a:hover {
    color: #7F512E;
}


/*Navigation*/
nav {
    box-shadow: inset 0px -1px 0px #C5C6C7;
}
.navbar-brand span {
    font-family: "Luckiest Guy", cursive;
    font-size: 25px;
}
.navbar-brand img {
    height: 50px;
    width: auto;
}
.navbar-nav a {
    font-family: "Lilita One", cursive;
    color: #D8B78B;
    font-size: 17px;
    margin: 0 10px;
}
.navbar-nav a:hover {
    color:#7F512E;
}


/*Section Carousel*/
.carousel-item {
    height: 50vh;
    min-height: 300px;
}
.carousel-item img {
    height: 100%;
}
.carousel-caption {
    text-align: center;
    bottom: 70px;
    z-index: 2;
}
.carousel-caption h5 {
    width: 100%;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.carousel-caption p {
    width: 100%;
    margin: 10px;
}
.carousel-inner::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


/*Section Nous Connaître*/
.nous-connaitre-img img {
    height: 300px;
    width: auto;
    margin-left: 10px;
}
.nous-connaitre-text {
    text-align: center;
}


/*Section Professionels*/
.card-pro {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.card-pro img {
    width: 100%;
    height: 100%;
}
.card-text-pro {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}
.card-text-pro h3 {
    font-size: 25px;
}
.card-text-pro p {
    font-size: 18px;
}
.card-pro:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 220%;
    background: rgba(0, 0, 0, 0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}
.card-pro:hover:before {
    left: 10%;
}
.card-pro:hover .card-text-pro {
    top: 80px;
}


/*Section Equipe*/
.equipe .card {
    height: 100%;
}
.equipe .lingodor-title {
    color: rgb(201, 10, 10);
}
.equipe .verdollar-title {
    color: rgb(6, 110, 6);
}
.equipe .espiegle-title {
    color: rgb(13, 148, 190);
}
.equipe .aboudsoufle-title {
    color: rgb(210, 180, 92);
}
.equipe .lingodor-title,
.equipe .verdollar-title,
.equipe .espiegle-title,
.equipe .aboudsouffle-title {
    font-size: 30px;
}
.equipe .lead {
    color: rgb(57, 56, 56, 0.799);
}
.equipe .espiegle-margin {
    margin-bottom: 40px;
}






















/*Responsive*/
@media screen and (min-width: 426px) and (max-width: 768px) {
    /*Titre et paragraphe de section*/
    h2 {
        font-size: 29px;
    }
    .paragraphe {
        font-size: 20px;
    }
    
    /*Carousel*/
    .carousel-item {
        height: 70vh;
    }
    .carousel-caption {
        bottom: 130px;
    }
    .carousel-caption h5 {
        font-size: 25px;
        margin: 10px;
    }
    .carousel-caption p {
        font-size: 20px;
        margin: 15px;
    }
    .carousel-caption a {
        font-size: 20px;
    }

    /*Professionnels*/
    .card-text-pro h3 {
        font-size: 40px;
    }
    .card-text-pro p {
        font-size: 25px;
    }
    .card-text-pro h3,
    .card-text-pro p {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*Titre et paragraphe de section*/
    h2 {
        font-size: 31px;
    }
    .paragraphe {
        font-size: 22px;
    }
    
    /*Carousel*/
    .carousel-item {
        height: 80vh;
    }
    .carousel-caption {
        bottom: 140px;
    }
    .carousel-caption h5 {
        font-size: 30px;
        margin: 15px;
    }
    .carousel-caption p {
        font-size: 25px;
        margin: 20px;
    }
    .carousel-caption a {
        font-size: 25px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /*Titre et paragraphe de section*/
    h2 {
        font-size: 31px;
    }
    .paragraphe {
        font-size: 22px;
    }
    
    /*Nav*/
    .navbar-nav a {
        font-size: 20px;
    }
    
    /*Carousel*/
    .carousel-item {
        height: 100vh;
    }
    .carousel-caption {
        bottom: 185px;
    }
    .carousel-caption h5 {
        font-size: 35px;
        margin: 20px;
    }
    .carousel-caption p {
        font-size: 25px;
        margin: 25px;
    }
    .carousel-caption a {
        font-size: 30px;
    }

    /*Description*/
    .nous-connaitre-img img {
        height: 350px;
        margin-left: 50px;
    }

    /*Professionnels*/
    .card-text-pro h3 {
        font-size: 25px;
    }
    .card-text-pro p {
        font-size: 18px;
    }
}


/*A FAIRE*/
@media screen and ( min-width: 1441px) {
    /*Titre et paragraphe de section*/
    h2 {
        font-size: 60px;
    }
    .paragraphe {
        font-size: 40px;
    }
    
    /*Nav*/
    .navbar-brand img {
        height: 60px;
    }
    .navbar-brand span {
        font-size: 30px;
    }
    .navbar-nav a {
        font-size: 25px;
    }
    
    /*Carousel*/
    .carousel-item {
        height: 100vh;
    }
    .carousel-caption {
        bottom: 150px;
    }
    .carousel-caption h5 {
        font-size: 50px;
        margin: 50px;
    }
    .carousel-caption p {
        font-size: 40px;
        margin: 50px;
    }
    .carousel-caption a {
        font-size: 45px;
    }

    /*Description*/
    .nous-connaitre-img img {
        height: 550px;
    }
}