/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Lilita+One&family=Luckiest+Guy&display=swap');


body {
    margin: 0;
    padding: 0;
    margin-top: 74px;
    font-family: "Belanosima", sans-serif;
    box-sizing: border-box;
}


/*Liens*/
a {
    font-family: "Lilita One", cursive;
    color: #D8B78B;
    font-size: 17px;
    text-decoration: none;
}
a:hover {
    color: #7F512E;
}


/*Navigation*/
nav {
    box-shadow: inset 0px -1px 0px #C5C6C7;
}
.navbar-brand span {
    font-family: "Luckiest Guy", cursive;
    font-size: 25px;
}
.navbar-brand img {
    height: 50px;
    width: auto;
}
.navbar-nav a {
    font-family: "Lilita One", cursive;
    color: #D8B78B;
    font-size: 17px;
    margin: 0 10px;
}
.navbar-nav a:hover {
    color:#7F512E;
}


/*Carousel*/
.carousel-item {
    height: 50vh;
    min-height: 300px;
}
.carousel-item img {
    height: 100%;
}
.carousel-caption {
    text-align: center;
    bottom: 70px;
    z-index: 2;
}
.carousel-caption h5 {
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.carousel-caption p {
    width: 100%;
    margin: 10px;
}
.carousel-inner::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}